<div class="row">
    <div class="col-12">
        <img src="" alt="" class="img-responsive">
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1>Recipe Name</h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
            <div class="btn-group" role="group">
                <button type="button" id="btnGroupDrop1" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Manage Recipe 
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li class="dropdown-item"><a href="#">To shopping list</a></li>
                    <li class="dropdown-item"><a href="#">Edit Recipe</a></li>
                    <li class="dropdown-item"><a href="#">Delete Recipe</a></li>
                </ul>
            </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        Description
    </div>
</div>

<div class="row">
    <div class="col-12">
        Ingrediants
    </div>
</div>